

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Table</title>

</head>
<body>
<br>
<button onclick="window.location.href = '/admin/new';">Add new user</button>
<br>
<h1>Users</h1>
<table border="1">
    <tr th:each="user : ${users}">

        <td th:utext="${user.id}">UserId</td>
        <td th:utext="${user.username}">Name</a></td>

        <td>
            <form th:action="@{'/admin/edit/' + ${user.id}}">
                <input class="buttonEdit" type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'/admin/delete/' + ${user.id}}">
                <input class="buttonDelete" type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</body>
</html>