<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Main page</a>
</nav>
<body>
</div>

<div class = "row">
    <div class = "col-lg-3">
        <a th:href = "@{/login}" class = "btn btn-primary btn-sm mb-3"> Войти</a>
    </div>
    <div class = "col-lg-3">
        <a th:href = "@{/registration}" class = "btn btn-primary btn-sm mb-3"> Зарегистрироваться</a>
    </div>
    <div class = "col-lg-3">
        <a th:href = "@{/logout}" class = "btn btn-primary btn-sm mb-3"> Выйти</a>
    </div>
    <div class = "col-lg-3">
        <a th:href = "@{/admin/allUsers}" class = "btn btn-primary btn-sm mb-3"> Пользователи, для админов</a>
    </div>
    <div class = "col-lg-3">
        <a th:href = "@{/user/oneUser}" class = "btn btn-primary btn-sm mb-3"> Пользователь</a>
    </div>

</div>
</body>
